*								{ margin: 0; padding: 0; }
body							{ /* font-family: "Lucida Grande", Arial, Sans-Serif; */ background: #222; }

a								{ text-decoration: none; outline: none; }
a img							{ border: none; }

h2								{ font-family: Georgia, Serif; font-size: 36px; text-align: center; 
								  font-weight: normal; }

#page-wrap						{ background: white; width: 960px; margin: 0 auto; 
								  padding: 50px 0; }

#slider							{ background: white url(../images/slider-bg.jpg); height: 227px; overflow: hidden;
								  position: relative; margin: 50px 0; }
								  
                                /* DEFAULT is for three panels in width, adjust as needed
                                   This only matters if JS is OFF, otherwise JS sets this. */								  
#mover							{ width: 2880px; position: relative; }



#slider-stopper					{ position: absolute; top: 1px; right: 20px; background: #ac0000; color: white;
								  padding: 3px 8px; font-size: 10px; text-transform: uppercase; z-index: 1000; }
			

.tokenSec{
	padding-bottom:0px !important;
}

.gettingSection a{
	font-size:1.6em;
}

.gettingSection a:hover{
	text-decoration:none;
}

.gettingSection a:focus{
	text-decoration:none;
}


.bdcolorWrapper{
	background: #1A75BC;
	color:white
}





.navLinkSec a{
	/* font-size:1.3em !important; */
	padding-bottom:.5rem !important;
	
}

.navLinkSec a:hover{
	text-decoration:none;
}			
								  
	.openText{
		font-size:1.6em;
		padding-top:1.2rem;
		padding-bottom:1rem;
	}

	.anchTag:hover{
		text-decoration:none;
	}

	.headerNavSec:hover{
		padding-bottom: 3rem;
		padding-top: 1.4rem;
	}
	
	.imageSlider{
		padding-top:4rem;
		padding-bottom:4rem;
	}
	
	.carousel-control{
		width:0px !important;
	}
	
	.verticalCenter{
		display: flex;
		justify-content: center;
		align-items: center;
		height:500px;
	}
	
	
	.footerSectionPara a{
		color:#fff;
	}
	
	.footerSectionPara a:hover{
		color:#fff;
		text-decoration:none;
	}
	
	.imgSec{
		width:100%;
	}
								  
								  
								  
	@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
		.imageSlider{
			width: 92%;
			margin: 0 auto;
		}
	}	

	@media only screen and (min-width: 320px) and (max-width: 767px) and (orientation: landscape) {
		.imageSlider{
			width: 92%;
			margin: 0 auto;
		}
	}
	
	@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
		/* .imageSlider{ */
			/* width: 92%; */
			/* margin: 0 auto; */
		/* } */
	}
								  
								  
								  
								  
								  
								  
								  
								  